$dark: #16161D;
$dark-medium: #2E2E35;
$dark-light: #45454D;

$white: #FFFFFF;
$white-medium: #F3F2F2;
$white-light: #D9D9D9;

$cyan: #2EFDDF;
$cyan-dark: #11D9CE;
$cyan-light: #34FFED;

$red-pink: #FF2787;

$orange: #FFD486;