h1 {
  font-family: "Otomanopee One", sans-serif;
  font-size: 72px;
  color: $white;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 56px;
  }

  h3 {
    font-size: 48px;
  }
}

a {
  color: $white;
  text-decoration: none;
}

.link {
  padding: 8px 24px;
  font-size: 16px;
  font-weight: bold;

  transition: 1s ease;

  position: relative;

  &::after {
    content: '';
    display:block;

    position: absolute;

    top: 100%;
    left: 0;

    width: 0%;
    height: 2px;

    transform: translate(15%, 50%);
    transition: .5s ease;

    background-color: $cyan;

  }

  &:hover {
    // opacity: .1;

    background-image: linear-gradient(to right, $blue, $cyan);
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    color: $dark;

    &::after {
      width: 80%;  
    }
  }
}

h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 32px;

  line-height: 150%;

  // background-image: linear-gradient(
  //  to right,
  //  $cyan 10%,
  //  $orange 20%,
  //  $red-pink 50%
  //);
  //background-clip: text;
  //-webkit-background-clip: text;

//  -webkit-text-fill-color: transparent;

//  color: $dark;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
  color: $white;
}

h6 {
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.square {
  display: inline-block;
  margin-top: 64px;

  padding: 16px 24px;

  position: relative;

  transition: 1s ease;

  &::after {
    content: '';

    z-index: -1;

    position: absolute;
    top: 0;
    left: 200px;

    width: 200px;
    height: 60px;

    border-radius: 50px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $cyan-dark 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    transition: 1s ease;
  }

  &:hover {
    color: #0859FC;
    &::after{
      box-shadow: 5px 5px 10px -3px #0859FC;
    }
  }
}

.bg-text {
  background: linear-gradient(
    to top,
    $cyan 15%,
    #0859FC 80%
  );
  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}